body{
	background-image:linear-gradient(45deg,rgba(200,13,24,0.2),rgba(90,50,190,0.2),rgba(70,80,30,0.2));
}
#de{
	border: 2px solid black;
	height: 140px;
	width:1250px ;
	background: black;
	position:fixed;
	margin-top:-10px;
}
#a{
	color: white;
}
#name{
	color: white;
}
a{
	text-decoration: none;
	color: whitesmoke;
}
#recipie{
	color: blue;
}
#chillicrab{
	border: 2px solid black;
	background-color: rgba(238, 206, 222, 0.8);
	width: 600px;
	height: 480px;
}
#i{
	height: 300px;
}
#bb{
	margin-right: 30px;
}
#briyani{
	border: 2px solid black;
	background-color: rgba(238, 206, 222, 0.8);
	width: 600px;
	float: right;
	margin-top: -500px;
	height: 480px;
}
#chicken{
	height: 300px;
}
#momo{
	border: 2px solid black;
	background-color:rgba(238, 206, 222, 0.8) ;
	width: 600px;
	height: 450px;
}
#momoi{
	 height: 250px;
}
#sushi{
	margin-right: 30px;
}
#ds{
	border: 2px solid black;
	background-color:rgba(238, 206, 222, 0.8) ;
	width: 600px;
	float: right;
    margin-top: -455px;
    height: 450px;"
}
#si{
	height: 280px;
}