body{
	background:linear-gradient(300deg,rgba(230,104,100,0.7),rgba(69,80,20,0.4));
}
div{
	border:1px solid black;
	position: static;
	background-color:lightblue;
	margin: -10px;
	position: fixed;
	width: 1265px;
}


a{
	text-decoration: none;
	color:black
}
img{
	height: 700px; 
	width: 1250px;
}
iframe{
	width: 560; 
	height: 315;
}
p{
	font-size: 20px;
}
h2{
	font-size: 30px;
	text-align: center;
}